NEON_DB_URL=postgresql://neondb_owner:npg_Wqrn5sdupZ0P@ep-dry-morning-adnk601f-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=e7987e91d8e134604e768e7af56b26284f291079328221c97a21345d21347893
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
AUDIO_UPLOAD_DIR=./uploads
AUDIO_BASE_URL=http://localhost:8000/audio
